*,
*::before,
*::after {
    box-sizing: border-box;
    outline: none;
    font-family: 'Noto Sans Display', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@400;500;600;700&display=swap');

body {
    margin: 0 auto;
    background: #cccccc;
    background: radial-gradient(farthest-side ellipse at top left, #d54e4e, #662f70);
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
